<!DOCTYPE html>
<html>
<body>

<h1>MEN | WOMEN</h1>
<p> <code><h5>All Collection</h5></code> </p>
</body>
</html>

<div class="row mt-5">
    <div class="col-md-4 mb-3" *ngFor="let product of products">
        <div class="card" style="width: 18rem;">
           
            <img class="card-img-top" src="../../assets/{{product.productImage}}" alt="Card image cap">
            <div class="card-body">
                <h5 class="card-title">{{product.productName}}</h5>
                <p class="card-text">{{product.productDescription}}</p>
                <p class="card-text">Final Price: ${{product.productFinal}}</p>

                <button routerLink="/cart"class="btn btn-primary" (click)=addtocart(product)>Add to cart</button>
                
            </div>
        </div>
    </div>
</div>